nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(31, 27, 27);
    font-weight: bold;
    font-size: 30px;
    height: 50px;
}
nav a {
    text-decoration: none;
    color: white;
}

nav a:hover{
color: red;
}
